.feedbackContainer {
  background: var(--container-blue);
  height: max-content;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 35px;
}

.feedbackList {
  list-style: none;
}

.feedbackList li {
  margin: 10px;
}

.blank {
  background: var(--accent-blue);
  border: 1px;
  border-style: dashed;
  border-color: #fff;
  height: 30px;
  border-radius: 10px;
}
