.rowContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1;
  height: 30px;
  gap: 5px;
}

.container:nth-child(2) {
  animation-delay: 0.2s;
}
.container:nth-child(3) {
  animation-delay: 0.4s;
}

.container {
  height: 30px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1;
  --background: var(--feedback-background);
  border-radius: 10px;
  animation: flip 0.5s ease forwards;
}

.value {
  padding: 5px;
  color: var(--container-blue);
  height: 30px;
  font-weight: bold;
}

.symbolContainer {
  height: 30px;
  width: 30px;
  --background: #fff;
  border-radius: 0px 10px 10px 0px;
  padding: 5px;
  display: flex;
  justify-content: center;
  animation: flip 0.5s ease forwards;
}

.symbol {
  height: 14px;
  width: 14px;
  margin: auto;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: var(--container-blue);
  }
  45% {
    transform: rotateX(90deg);
    background: var(--container-blue);
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
  }
  100% {
    transform: rotateX(0);
    background: var(--background);
  }
}
