.statsOverlay {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.statsContainer {
  position: relative;
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.statsContainer h1 {
  color: var(--container-blue);
  text-align: center;
  margin: 0;
}

.statsContainer h3 {
  color: var(--guess-blue);
  margin: 0;
}

.statsContainer p {
  color: #000;
  margin: 0;
  padding: 10px 0px;
}

.closeStats {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.closeStats:hover {
  animation: rotate 0.7s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
